// Main colors
$bgColor: #282c34;
$pink: #dd1951;
$white: #ffffff;
$darkPink:  darken($pink, 10%);
$lightPink: lighten($pink, 10%);

// Custom colors
$blue:    #2b63eb !default;
$purple:  #963ae9 !default;
$green:   #39c55e !default;
$teal:    #60a5fa !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;

// Custom color map
$colors: () !default;
$colors: map-merge((
    "blue":     $blue,
    "purple":   $purple,
    "pink":     $pink,
    "orange":   $orange,
    "yellow":   $yellow,
    "green":    $green,
    "white":    $white,
    "teal":     $teal,
    "darkPink": $darkPink,
    "lightPink": $lightPink,
), $colors);