@import "skeleton.css";
@import "variables";

/** Main color scheme **/
body {
    background-color: $bgColor;
    color: $pink;
}

.rullo-game {
    border: 1px solid $lightPink;
    padding: 2rem;

    margin-top: 10rem;
    text-align: center;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    header {
        border-bottom: 2px solid $pink;
        width: 100%;
        height: 20%;

        h4 {
            margin-bottom: 0;
        }
    }

    .range-container, .size-container {
        align-content: center;
    }

    button {
        margin: 1rem;
        padding: 0.5rem 1rem;
        background: none;
        cursor: pointer;
        border-radius: 0.5rem;
        color: $pink;
        border: 1px solid $pink;

        &:hover, &:focus {
            color: $lightPink;
            border-color: $lightPink;
            outline: 0;
        }

        &.selected {
            background: $pink;
            color: $white;
            border-color: $lightPink;
        }
    }

    .start-game {
        justify-content: center;
        text-align: center;

        button {
            margin: 3rem auto;
            text-align: center;
            display: block;

            font-size: 200%;
            border: solid 1px $pink;
            border-radius: 0.5rem;
            justify-content: center;
            padding: 0.5rem 2rem;

            &:hover, &:focus {
                border-color: $lightPink;
                background-color: $pink;
                color: $white;
                outline: 0;
            }
        }
    }

    td div {
        width:  20px;
        height: 20px;
        text-align: center;
        justify-content: center;
        padding: 1rem;
        border: 1px solid $pink;
        border-radius: 3rem;
        color: $pink;
    }
}